<%- include('header') %>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Tables</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-0">Static Table</h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Catagory</th>
                  <th scope="col">SubCatagory</th>
                  <th scope="col">ExSubCatagory</th>
                  <th scope="col">Action</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% exsubcatagorydata.map((exs,i)=>{ %>
                  <tr>      
                      <th scope="row">
                          <%= ++i %>
                      </th>
                      <td>
                          <%= exs.catagoryId.catagory_name %>
                      </td>
                      <td>
                        <%= exs.subcatagoryId.subcatagory %>
                      </td>
                      <td>
                          <%= exs.exsubcatagory %>
                      </td>
                      <td>
                        <a href="/exsubcatagory/deleteexsubcatagory?id=<%= exs.id  %>" class="btn btn-danger">Delete</a> 
                        <a href="/exsubcatagory/editexsubcatagory?id=<%= exs.id  %>" class="btn btn-primary">Edit</a>

                      </td>
                      <td>
                        <% if( exs.status == "active") { %>
                          <a href="/exsubcatagory/changeexsubstatus?id=<%= exs.id %>&status=<%= exs.status %>" class="btn btn-success"> <%= exs.status %>  </a>
                      <% } else { %>
                        <a href="/exsubcatagory/changeexsubstatus?id=<%= exs.id %>&status=<%= exs.status %>" class="btn btn-warning"> <%= exs.status %>  </a>
                   <%   } %>
                      </td>
                  </tr>
                  <% }) %>
               
              </tbody>
            </table>
          </div>
         
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>

<%- include('footer') %>
